/* กำหนดสีของข้อความทั้งหมด */
body {
    color: #333; /* สีข้อความทั่วไป */
}

/* กำหนดสีของพื้นหลัง */
body {
    background-color: rgb(255, 255, 255);
}

/* กำหนดสีของลิงก์เมื่อเม้าส์ Hover */
a:hover {
    color: red;
}
